# Gradle
.gradle/
build/

# Local configuration
local.properties

# Logs / OS
*.log
.DS_Store

# Android Studio / IntelliJ
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Build outputs
*.aab
*.apk
output-metadata.json

# Keystore / secrets
*.jks
*.keystore
google-services.json

# Profiling
*.hprof
